.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file_box {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    justify-content: flex-start;
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 60%;
    background-color: #808080;
}

.title {
    display: flex;
    width: 95%;
    font-size: 18px;
    margin: 10px 0px 10px 10px;
    padding: 15px;
    border-radius: 20px;
    background-color: #00000033;
}

.list {
    display: flex;
    flex-direction: row;
    margin: 10px 0px 10px 10px;
    gap: 20px;
}

.folder {
    color: white;
    cursor: pointer;
    display: inline;
    display: flex;
    align-items: center;
}

.file {
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
}
